<!DOCTYPE html>
<html>

<head>
    <title>pastebin</title>
    <link href="/public/css/paste.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/solarized.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/public/highlight/styles/base16/solarized-dark.css">
    <script src="/public/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/public/script/paste.js"></script>
</head>

<body>
        {{ .Value }}
</body>

</html>